<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MelBox2inEins.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MelBox2inEins.Properties.Settings>
            <setting name="ComPort" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Einstellung" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>harmschnakenberg@gmx.de</string>
                        <string>harm.schnakenberg@ewe.net</string>
                        <string>harm.schnakenberg@kreutztraeger.de</string>
                    </ArrayOfString>
                </value>
            </setting>
        </MelBox2inEins.Properties.Settings>
    </userSettings>
</configuration>